@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
html,body{
    background-color: var(--color-background);
    color:var(--color-on-surface-variant);
    font-family: "Roboto Flex", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 160ms background-color ease-in-out;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-primary);
    font-family: "Exo 2", sans-serif;
}
h1{
    font-size: 2.7rem;
}
h2{
    font-size: 2.3rem;
}
h3{
    font-size: 1.9rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.3rem;
}
h6{
    font-size: 1rem;
}
p,a{
    color:var(--color-on-surface-variant);
    font-family: "Roboto Flex", sans-serif;
}
button{
    background-color: var(--color-primary-container);
    padding: var(--padding-sm) var(--padding-lg);
    border-radius: var(--border-radius);
    border: 2px solid rgba(0, 0, 0, 0.15);
    color: var(--color-on-primary-container);
    font-family: "Roboto Flex", sans-serif;
}

.full-section{
    min-width: 100%;
    min-height: 100vh;
    position: relative;
}
.leaflet-popup-content-wrapper{
    background-color: var(--color-overlay-container);
    backdrop-filter: blur(30px);
    color: var(--color-on-surface-variant);
}